*.container .content .btn:hover{
    background: crimson;
 }
 
 .form-container{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background: #eee;
 }
 
 .form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
 }
 
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
 }

 .form-container form input{
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
 }
 
 .form-container form .form-btn{
    background: #fbd0d9;
    color:crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form .form-btn:hover{
    background: crimson;
    color:#fff;
 }
 
 .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
 }
 
 .form-container form p a{
    color:crimson;
 }

 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
    }

.logo {
background: url(../media/mcgill_logo_white.jpg) no-repeat center left;
width: 180px;
height: 75px;
margin: 18px 0 0 20px;
display: inline-block;
border-right: 1px solid #fff;
}

.header-background {
width: 100%;
height: 108px;
background: #DC241F url(../media/mcgill_background.jpg) no-repeat top right;
padding: 0;
margin: 0;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height:50px;
background-color: #DC241F;
color:#DC241F;
text-align: center;
}

multiselect {
   width: 200px;
 }
 
 .selectBox {
   position: relative;
 }
 
 .selectBox select {
   width: 100%;
   font-weight: bold;
 }
 
 .overSelect {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
 }
 
 #Student_checkboxes {
   display: none;
   border: 1px #dadada solid;
 }
 
 #Student_checkboxes label {
   display: block;
 }
 
 #Student_checkboxes label:hover {
   background-color: #1e90ff;}


 #Prof_checkboxes {
   display: none;
   border: 1px #dadada solid;
 }
 
 #Prof_checkboxes label {
   display: block;
 }
 
 #Prof_checkboxes label:hover {
   background-color: #1e90ff;}



 #Ta_checkboxes {
   display: none;
   border: 1px #dadada solid;
 }
 
 #Ta_checkboxes label {
   display: block;
 }
 
 #Ta_checkboxes label:hover {
   background-color: #1e90ff;}

 
  